
<!DOCTYPE html>
<html>
<title>COMP 662</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Database Navigation</h1>
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/view" class="w3-bar-item w3-button">View</a>
  <a href="/update" class="w3-bar-item w3-button">Update</a>
  <a href="/search" class="w3-bar-item w3-button">Search</a>
  <a href="/delete" class="w3-bar-item w3-button">Delete</a>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
</nav>
 
<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>Comp 662</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Programming Databases with Python</h1>
     
    <div class="w3-padding-32">
	<a href="https://sdccd.instructure.com/courses/2419872/assignments/19188460?module_item_id=41528241">
      <button class="w3-btn w3-xlarge w3-theme-dark w3-hover-teal" style="font-weight:900;">Assignment 6 </button></a>
    </div>
  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter">
<a href="/view" class="w3-bar-item w3-button">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>View</h3><br>
  <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>View the entire</p>
  <p>database</p>
  </div>
</a>  
</div>

<div class="w3-quarter">
<a href="/update" class="w3-bar-item w3-button">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Update</h3><br>
  <i class="fa fa-database w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Add entries</p>
  <p>to the database</p>
  </div>
</a>  
</div>

<div class="w3-quarter">
<a href="/search" class="w3-bar-item w3-button">

  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Search</h3><br>
  <i class="fa fa-search w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Search the database</p>
  </div>
</a>  
</div>

<div class="w3-quarter">
<a href="/delete" class="w3-bar-item w3-button">

  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Delete</h3><br>
  <i class="fa fa-remove w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Delete items from database</p>
  </div>
</a>  
</div>

</div>

<!-- Footer -->
<footer class="w3-container w3-theme-dark">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme w3-padding">Go To Top</span>&nbsp;   
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-theme-dark", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-theme-dark";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>