<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
	
    <body>
	
	   <title>COMP 662</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

  <br><br><a href="/"><button class="w3-btn w3-theme" >Go back to home page</button></a>
  
  <div class="w3-container">
  <hr>
  <div class="w3-center">
    <h2>Data Search</h2>
  </div>
  
Search Data Found:  
	 
<div class="w3-responsive w3-card-4">
<table class="w3-table w3-striped w3-bordered">
<thead>
<tr class="w3-theme">
  <th>Name</th>
  <th>Address</th>
  <th>City</th>
  <th>Pincode</th>
</tr>
</thead>
<tbody>
{% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td> {{ row[2]}}</td>
               <td>{{row[3]}}</td>
            </tr>
         {% endfor %}
</tbody>
</table>
<p>
</br>
</div>	
    </body>
</html>