<html>
<title>COMP 662</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
   <body>
 
  <br><br><a href="/"><button class="w3-btn w3-theme" >Go back to home page</button></a>
 
      <h2 class="w3-center">Enter Student Data</h2>


<form class="w3-container w3-card-4" action = "{{ url_for('updaterec') }}" method = "POST">
  <h2>Student Information</h2>
  <div class="w3-section">      
    <label>Name</label>    
	<input class="w3-input" type="text" name = "nm" required/></br>

  </div>
  <div class="w3-section">    
    <label>Address</label>  
    <textarea class="w3-input" type="text" name = "add" required></textarea><br>

  </div>
  <div class="w3-section">  
    <label>City</label>  
    <input class="w3-input" type="text" name = "city" required/>

  </div>
  <div class="w3-section">    
    <label>Student ID</label>  
    <input class="w3-input" type="text" name = "id" required/>

  </div>
  <input class="w3-btn w3-theme" type = "submit" value = "submit" /><br>
</form>


   </body>
 
   </html>